body {
  margin: 0;
  padding: 0;
  background: #000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* overflow-y: hidden; */
}

#thisCanvas {
  display: block;
  margin: 0;
  padding: 0;
  bottom: 0;
}

div#overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

p, button {
  color: white;
  font-size: 30px;
  background: transparent;
  font-family: sans-serif;
  margin: 20px 10px;
}

button:hover {
  opacity: .5;
}

.config {
  border:none;
}

.hidden {
  display:none;
}

.intro-text {
  font-size: 10vh;
}
