@font-face {
    font-family: Helvetica_AA;
    src: url("/fontes/Helvetica.otf") format("opentype");
}

:root{
  --vermelho: #e81b1b;
  --branco: #fefefe;
  --preto: #000;
}

body {
  cursor: url(/img/cursor/normalBranco.png), auto;
  position: absolute;
  margin: 0;
  padding: 0;
  background: var(--preto);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Helvetica_AA', Helvetica, sans-serif;
}

#thisCanvas {
  display: block;
  margin: 0;
  padding: 0;
  bottom: 0;
}

div#overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

div#overlay > p, button {
  color: var(--branco);
  background: transparent;
  margin: 20px 10px;
  font-size: 4vh;
  font-family: 'Helvetica_AA';
}

p, button {
  color: var(--branco);
  background: transparent;
  margin: 20px 10px;
}

.clicavel:hover > p, section {
  color:var(--vermelho);
  cursor: url(/img/cursor/setaBranca.png) 127 15, auto;
}

.vermelho {
  color: var(--vermelho);
}

div#intro {
  background: transparent;
  cursor: url(/img/cursor/setaBranca.png) 127 15, auto;
}

button:hover {
  opacity: .5;
}

.config {
  border:none;
}

.hidden {
  display:none;
}

.intro-texto {
  font-size: 3.2vw;
}

.intro-titulo {
  font-size: 25vh;
}

img#slides {
  position: absolute;
}


.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
