@font-face {
    font-family: Helvetica_AA;
    src: url("/fontes/Helvetica.otf") format("opentype");
}

:root{
  --vermelho: #e81b1b;
  --branco: #fefefe;
  --preto: #000;
}

body {
  margin: 0;
  padding: 0;
  background: var(--preto);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* overflow-y: hidden; */
  font-family: 'Helvetica_AA', Helvetica, sans-serif;
}

#thisCanvas {
  display: block;
  margin: 0;
  padding: 0;
  bottom: 0;
}

div#overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

p, button {
  color: var(--branco);
  /* font-size: 30px; */
  background: transparent;
  /* font-family: sans-serif; */
  margin: 20px 10px;
}

.clicavel:hover{
  color:var(--vermelho);
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.vermelho {
  color: var(--vermelho);
}

button:hover {
  opacity: .5;
}

.config {
  border:none;
}

.hidden {
  display:none;
}

.intro-texto {
  font-size: 7vh;
}

.intro-titulo {
  font-size: 20vh;
}
