#apresentacao {
  overflow: auto;
}

#texto-apresentacao {
  position: absolute;
  width: 55vw;
  left: 18vw;
  top: 20vh;
  padding-bottom: 5vh;
}

#nav-apresentacao {
  position: fixed;
  right: 3vw;
  top: 8vh;
  bottom: 5vh;
  justify-content: space-between;
  text-align: right;
  pointer-events: none;
}

.titulo-apresentacao {
  font: inherit;
  font-size: 3.5vw;
  margin: 0;
  margin-bottom: 5vh;
}

.autor-apresentacao {
  font: inherit;
  font-size: 3.2vw;
  line-height: 1.1;
}

.aviso-apresentacao {
  font: inherit;
  font-size: 3vw;
  line-height: 1.1;
}

blockquote {
  margin-left: 18.5vw;
}

.corpo-apresentacao {
  font-family: Helvetica, sans-sans-serif;
  font-size: 1.3vw;
  line-height: 1.4;
  margin-bottom: 3vh;
}

.notas-apresentacao {
  margin-left: 18.5vw;
  font-family: Helvetica, sans-sans-serif;
  font-size: 1.1vw;
  line-height: 1.2;
  margin-bottom: 3vh;
}

.italico {
  font-style: italic;
}

.negrito {
  font-weight: bold;
}

#voltar-apresentacao {
  position: fixed;
}

#epigrafe {
  margin: 7vh 0;
}

/* #assinatura {
  padding: 10vh 0;
} */

#ultima-citacao {
  margin-top: 7vh;
  margin-bottom: 7vh;
}

hr {
  margin: 7vh 0;
  color: var(--vermelho);
}
