@font-face {
    font-family: Helvetica_AA;
    src: url("../fontes/Helvetica.otf") format("opentype");
}

:root{
  --vermelho: #e81b1b;
  --branco: #fefefe;
  --preto: #000;
}

body {
  cursor: none;
  position: absolute;
  margin: 0;
  padding: 0;
  background: var(--preto);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  overflow: auto;
  font-family: 'Helvetica_AA', Helvetica, sans-serif;
}

 p, button {
  /* color: var(--branco); */
  background: transparent;
  /* margin: 0 0; */
}

div.pagina {
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  height: 100%;
  color: var(--branco);
  background: var(--preto);
  z-index: 11;
  font-size: 100px;
}

main {
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  height: 100%;
  color: var(--branco);
  /* background: blue; */
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 0;
}

button:hover {
  opacity: .5;
}

.config {
  border:none;
}

.espanhol{
  font-style: italic;
}

.hidden {
  display:none;
  visibility: hidden;
  pointer-events: none;
}

.vermelho {
  color: var(--vermelho);
}

.div-esquerda {
  padding: 0;
  margin: 0;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  height: 100%;
  width: 50%;
  pointer-events:
}

.div-direita {
  padding: 0;
  margin: 0;
  position: fixed;
  top:0;
  bottom:0;
  right:0;
  height: 100%;
  width: 50%;
}

p#etiqueta-seta {
  position: absolute;
  z-index: 25;
  font-size: 3vw;
  line-height: 1;
  pointer-events: none;
}

img#seta {
  position: absolute;
  z-index: 25;
  font-size: 3vw;
  line-height: 1;
  pointer-events: none;
}

.coluna {
  display: flex;
  -ms-flex: 1;
  flex: 1;
  flex-direction: column;
}

.linha {
  display: flex;
  -ms-flex: 1;
  flex: 1;
  flex-direction: row;
}

.cinquenta {
  opacity: .5;
}

.tela-cheia {
  position: fixed;
  bottom:0;
  height: auto;
  width: 100%;
  align-self: center;
  text-align: center;
}
