@font-face {
  font-family: "Helvetica_AA";
  src: url("../fontes/Helvetica.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fontes/HelveticaNeue.otf") format("opentype");
}

@font-face {
  font-family: "ALS_Gorizont";
  src: url("//db.onlinewebfonts.com/t/52ffeb15f7ec5bb258d99836c944a2c8.eot");
  src: url("//db.onlinewebfonts.com/t/52ffeb15f7ec5bb258d99836c944a2c8.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/52ffeb15f7ec5bb258d99836c944a2c8.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/52ffeb15f7ec5bb258d99836c944a2c8.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/52ffeb15f7ec5bb258d99836c944a2c8.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/52ffeb15f7ec5bb258d99836c944a2c8.svg#ALS Gorizont Expanded")
      format("svg");
}

:root {
  --vermelho: #e81b1b;
  --branco: #fefefe;
  --preto: #000;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  cursor: none;
  position: absolute;
  margin: 0;
  padding: 0;
  background: var(--preto);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  line-height: 1;
  font-family: "Helvetica_AA", Helvetica, sans-serif;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

div.pagina {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  color: var(--branco);
  background: var(--preto);
  overflow: hidden;
  z-index: 11;
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: var(--branco);
  z-index: 0;
}
/*
.config {
  border: none;
} */

.espanhol {
  font-style: italic;
}

.hidden {
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.cursor {
  position: absolute;
  z-index: 25;
  font-size: 3vw;
  line-height: 1;
  pointer-events: none;
}

.vermelho {
  color: var(--vermelho);
}

.div-esquerda {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 50%;
}

.div-direita {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 50%;
}

p#etiqueta-seta {
  position: absolute;
  z-index: 25;
  font-size: 3vw;
  line-height: 1;
  pointer-events: none;
  color: var(--vermelho);
}

img#seta {
  position: absolute;
  z-index: 25;
  font-size: 3vw;
  line-height: 1;
  pointer-events: none;
}

.coluna {
  display: flex;
  -ms-flex: 1;
  flex: 1;
  flex-direction: column;
}

.linha {
  display: flex;
  -ms-flex: 1;
  flex: 1;
  flex-direction: row;
}

.cinquenta {
  opacity: 0.5;
}

/* .tela-cheia {
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  align-self: center;
  text-align: center;
} */

.texto-esquerda {
  text-align: left;
}

.texto-direita {
  text-align: right;
}

.texto-centro {
  text-align: center;
}
