#nav-esquerda-exibicao {
  position: absolute;
  margin: 0;
  width: 5vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
}

#nav-direita-exibicao {
  position: absolute;
  margin: 0;
  width: 5vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
}

#nav-cima-exibicao {
  position: absolute;
  margin: 0 5vw;
  width: 90vw;
  top: 0;
  left: 0;
  right: 0;
}

#nav-baixo-exibicao {
  position: absolute;
  margin: 0 5vw;
  width: 90vw;
  left: 0;
  right: 0;
  bottom: 0;
}

.altura-normal {
  height: 20vh;
}

.altura-expandida {
  height: 38vh;
}

#nav-centro-exibicao {
  position: absolute;
  width: 90vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* margin: 20vh 5vw;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; */
}

.meio-parent {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 50%;
}

#nav-centro-exibicao > div {
  border: 1px solid yellow;
}

.altura100 > div {
  height: 60vh;
}

.altura50 > div {
  height: 24vh;
}

.sem-uso {
  display: none;
}

.espaco-aa2 {
  width: 4%;
}

.video0-aa2 {
  width: 20%;
}

.video1-aa2 {
  width: 29%;
}

.video2-aa2 {
  width: 47%;
}

.video0-aa1 {
  width: 47%;
}

.video1-aa1 {
  width: 29%;
}

.video2-aa1 {
  width: 20%;
}

.espaco-aa1 {
  width: 4%;
}

.video0-aa0 {
  width: 16%;
}

.video1-aa0 {
  width: 12%;
}

.video2-aa0 {
  width: 9%;
}

.espaco-aa0 {
  width: 23%;
}

.video3-aa0 {
  width: 9%;
}

.video4-aa0 {
  width: 12%;
}

.video5-aa0 {
  width: 17%;
}
