#info {
  overflow-y: auto;
  z-index: 4;
}

#fundo-info {
  opacity: 0.6;
  z-index: 3;
}

.fixed {
  position: fixed;
}

#info-svg {
  position: absolute;
  margin: -10vh 5vw;
  width: 90vw;
  height: auto;
}
