div#menu {
  background: var(--preto);
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  z-index: 18;
}

div#intro-menu {
  background: var(--preto);
  z-index: 19;
}

img.gif-fundo {
  position: fixed;
  bottom:0;
  height: auto;
  width: 100%;
  align-self: center;
  text-align: center;
}

p#titulo-menu {
  font-size: 10em;
}

nav#nav-menu {
  display: flex;
  -ms-flex: 1;
  flex: 1;
  flex-direction: column;
  color:var(--branco);
  position: fixed;
  font-size: 30px;
  line-height: 1;
  left: 5vw;
}

ul {
  list-style-type: none;
}

.item-menu {
  opacity: .5;
}

.item-menu:hover {
  opacity: 1;
}

.texto-menu {
  font-size: 2.5em;
}

.menu-espanhol {
  font-size: 1.5em;
  padding-left: 5vw;
}

.subtitulo-menu {
  font-size: 1.5em;
}

#subtitulo-menu:hover {
  opacity: .9;
}

#titulo-menu-txt{
  font-size: 2.5em;
  color: var(--vermelho);
}
