svg#botao-menu {
  font-size: 6em;
  fill: var(--vermelho);
  position: fixed;
  top: 13vh;
  left: 4vw;
  width: 4vw;
  height: auto;
  z-index: 19;
}

svg#botao-menu:hover {
  opacity: .5;
}

video.video-escondido {
  pointer-events: none;
  visibility: hidden;
}

div#menu {
  background: var(--preto);
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  z-index: 19;
}

div#intro-menu {
  background: var(--preto);
  z-index: 18;
}

video.video-fundo {
  position: fixed;
  bottom:0;
  height: auto;
  width: 100%;
  align-self: center;
  text-align: center;
}

nav#nav-menu {
  display: flex;
  -ms-flex: 1;
  flex: 1;
  flex-direction: column;
  color:var(--branco);
  position: fixed;
  font-size: 30px;
  line-height: 0;
  left: 5vw;
}

ul {
  list-style-type: none;
}

.item-menu {
  margin: 0;
  padding: 0;
  opacity: .5;
}

.item-menu:hover {
  opacity: 1;
}

#exibicao-menu:hover {
  color:var(--vermelho);
}

.texto-menu {
  font-size: 4.7vw;
}

.subtitulo-menu {
  margin-top: -1.5vh;
  font-size: 4.7vw;
  padding: 0;
  padding-bottom: 7vh;
}

#subtitulo-menu:hover {
  opacity: .9;
}

#titulo-menu-txt{
  font-size: 6vw;;
  color: var(--vermelho);
}

#idiomas-menu {
  font-size: 3.5vw;
  line-height: 1;
  width: 10vw;
  position: absolute;
  bottom: 10vh;
  text-align: right;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  flex-direction: column;
  color:var(--branco);
  right: 10vw;
}
