#mesas {
  overflow: hidden;
}

.titulo-mesas {
  font-size: 6vw;
}

.texto-mesas {
  font-size: 2.3vw;
  font-family: "HelveticaNeue", "Helvetica_AA", sans-serif;
  line-height: 1.1;
}

#nav-mesas {
  font-size: 3vw;
  margin-top: 7vh;
  width: 35vw;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

#nav-mesas > li:hover {
  color: var(--vermelho);
}

#titulo-mesa {
  color: var(--vermelho);
  font-size: 3vw;
  line-height: 1.5;
}

#info-mesas {
  line-height: 1;
  position: relative;
  width: 80vw;
  padding: 4vh 8.5vw;
}

#entrar-mesa {
  position: absolute;
  right: 10vw;
  bottom: 10vh;
  z-index: 200;
}
