#mesas {
  overflow: hidden;
}

#titulo-mesas {
  padding: 8vh 10vw 3vh 10vw;
}

.titulo-mesas {
  font-size: 6vw;
}

.link-mesa {
  margin-right: 5vw;
}

.texto-mesas {
  font-size: 3vw;
  font-family: "HelveticaNeue", "Helvetica_AA", sans-serif;
}

#nav-mesas {
  padding: 0 10vw;
}

#nav-mesas > li:hover {
  color: var(--vermelho);
}

#titulo-mesa {
  color: var(--vermelho);
}

#info-mesa {
  line-height: 1;
  position: relative;
  width: 100%;
  padding: 0 10vw;
}

#entrar-mesa {
  position: absolute;
  right: 10vw;
  bottom: 10vh;
  z-index: 200;
}

/* .underline-mesas {
  opacity: 0;
} */

/* li:hover > .underline-mesas {
  opacity: 1;
} */
