#mesas {
  overflow: hidden;
}

#titulo-mesas {
  padding: 4vh 0 0 8vw;
}

.titulo-mesas {
  font-size: 6vw;
}

.link-mesa {
  margin-right: 5vw;
}

.texto-mesas {
  font-size: 2.3vw;
  font-family: "HelveticaNeue", "Helvetica_AA", sans-serif;
  line-height: 1.1;
}

#nav-mesas > li:hover {
  color: var(--vermelho);
}

#titulo-mesa {
  color: var(--vermelho);
  font-size: 3vw;
  line-height: 1.5;
}

#info-mesa {
  line-height: 1;
  position: relative;
  width: 80vw;
  padding: 0 8vw;
}

#entrar-mesa {
  position: absolute;
  right: 10vw;
  bottom: 10vh;
  z-index: 200;
}
