@media only screen and (max-width: 800px) {
  /* INICIAL */
  .titulo {
    font: inherit;
    font-size: 11vw;
    margin: 0;
    padding: 0;
  }

  .subtitulo {
    font-size: 11vw;
    line-height: 1;
  }

  .idioma-intro {
    font-size: 6vw;
    width: 20vw;
    top: 70vh;
    padding-top: 8vh;
  }

  #conteiner-logos {
    bottom: 2vh;
  }

  /* INTRO */
  .intro-texto {
    font: inherit;
    font-size: 2.2vh;
    margin: 6vh 10vw;
  }

  #seta-intro-esquerda {
    left: 5vw;
  }

  #seta-intro-direita {
    left: 50vw;
  }

  #setas-intro > img {
    position: fixed;
    bottom: 5vh;
    width: 20vw;
    height: auto;
  }

  .intro-num {
    bottom: 5vh;
    right: 10vw;
    font-size: 2vh;
  }

  #diagrama-intro {
    width: 100vw;
    height: auto;
  }

  .area-titulo {
    height: 45vh;
    text-align: right;
    font: inherit;
  }

  .titulo-movel {
    font-size: 5vh;
  }

  #popup-aviso {
    border-width: 2px;
    box-shadow: -1vw 1vw var(--vermelho);
    width: auto;
    max-width: 70vw;
  }

  #nav-aviso {
    padding: 1.5vh 5vw;
  }

  .titulo-aviso {
    font-size: 5vw;
  }

  .desc-aviso {
    font-family: Helvetica, sans-serif;
    font-size: 3vw;
    padding: 1vh 3vw;
  }

  .botao-aviso {
    font-size: 5vw;
  }
}
