.texto-publicacoes {
  font-size: 3.6vw;
  opacity: 1;
  display: block;
}

.titulo-publicacoes {
  margin-bottom: 1em;
}

#aa1-publicacoes {
  text-align: right;
}

#aa2-publicacoes {
  text-align: left;
}

.conteiner-textos-publicacoes {
  justify-content: space-between;
  position: relative;
  max-width: 40%;
}

#fundo-publicacoes {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  overflow: auto;
}

.tela-cheia {
  display: block;
  position: absolute;
  min-height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-aspect-ratio: 1920/1080) {
  .tela-cheia {
    height: 100vh;
  }
}

@media screen and (min-aspect-ratio: 1920/1080) {
  .tela-cheia {
    width: 100vw;
  }
}

.conteiner-publicacoes {
  position: relative;
  height: 85vh;
  overflow: hidden;
  margin: 10vh 5vw 5vh 10vw;
  align-content: space-between;
  justify-content: space-between;
}

.capa-publicacoes {
  position: relative;
  height: 100%;
  width: auto;
  text-align: left;
}

.conteiner-capa-publicacoes {
  position: relative;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
}

.capa-imagem-fundo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  z-index: 15;
}

.capa-imagem-hover {
  position: relative;
  height: 100%;
  width: auto;
  z-index: 17;
}

.invisivel {
  opacity: 0;
}

.voltar {
  border: none;
  font-size: inherit;
  cursor: none;
  font-size: 3.5vw;
}

#voltar-publicacoes {
  position: absolute;
  bottom: 5vh;
  left: 3vw;
}
/*
#overlay-previa {
  background-color: var(--preto);
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 18;
}

#conteiner-previa {
  background: transparent;
  border: none;
  height: 90vh;
  width: 80vw;
  margin: auto;
  margin-top: 5vh;
  margin-right: 3vw;
  overflow: hidden;
  position: relative;
}

#previa-conteiner {
  background: transparent;
  border: none;
  height: 95vh;
  width: 70vw;
  margin: auto;
  margin-top: 2vh;
  overflow: hidden;
  position: relative;
}

#voltar-previa {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 50%;
}

#avancar-previa {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 50%;
}

.conteiner-icone {
  position: relative;
  height: 7vh;
  width: 100%;
  margin: 10px 0;
}

.icone-fundo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  z-index: 15;
}

.icone-hover {
  position: relative;
  height: 100%;
  width: auto;
  z-index: 17;
}

.icone-hover:hover {
  opacity: 0;
}

#num-pagina {
  background: transparent;
  font: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
  height: 7vh;
  width: 4vw;
  text-align: right;
}

 #voltar-publicacoes {
  position: absolute;
  bottom: 5vh;
  left: 3vw;
}

#num-paginas {
  position: absolute;
  top: 5vh;
  right: 3vw;
}

#controle-rodape {
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 5vh;
  right: 3vw;
} */
