.texto-publicacoes {
  font-size: 4vw;
  /* text-align: right; */
  opacity: 1;
}

#aa1-publicacoes {
  text-align: right;
}

#aa2-publicacoes {
  text-align: left;
}

.conteiner-textos-publicacoes {
  justify-content: space-between;
  position: relative;
  max-width: 40%;
}

#fundo-publicacoes {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  overflow: auto;
}

.conteiner-publicacoes {
  position: relative;
  height: 85vh;
  overflow: hidden;
  padding: 6vh 10vw;
  align-content: space-between;
  justify-content: space-between;
}

.capa-publicacoes {
  position: relative;
  height: 100%;
  width: auto;
  text-align: left;
}

.capa-imagem-fundo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  z-index: 15;
}

.capa-imagem-hover {
  position: relative;
  height: 100%;
  width: auto;
  z-index: 17;
}

/* .capa-imagem-hover:hover {
  opacity: 0;
} */

.invisivel {
  opacity: 0;
}

#overlay-previa {
  background-color: var(--preto);
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 18;
  font-size: 3.5vw;
}

#previa-conteiner {
  background: transparent;
  border: none;
  height: 95vh;
  width: 70vw;
  margin: auto;
  margin-top: 2vh;
  overflow: hidden;
  position: relative;
}

#voltar-previa {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 50%;
}

#avancar-previa {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 50%;
}

.conteiner-icone {
  position: relative;
  height: 7vh;
  width: 100%;
  margin: 10px 0;
}

.icone-fundo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  z-index: 15;
}

.icone-hover {
  position: relative;
  height: 100%;
  width: auto;
  z-index: 17;
}

.icone-hover:hover {
  opacity: 0;
}

#num-pagina {
  background: transparent;
  font: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
  height: 7vh;
  width: 4vw;
  text-align: right;
}

.voltar {
  border: none;
  font-size: inherit;
  cursor: none;
}

#voltar-publicacoes {
  position: absolute;
  bottom: 5vh;
  left: 3vw;
}

#num-paginas {
  position: absolute;
  top: 5vh;
  right: 3vw;
}

#controle-rodape {
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 5vh;
  right: 3vw;
}
