#thisCanvas {
  display: block;
  margin: 0;
  padding: 0;
  bottom: 0;
  z-index: 0;
}

div#overlay-exibicao {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  z-index: 1;
}

div#overlay-exibicao > p {
  color: var(--branco);
  background: transparent;
  margin: 20px 10px;
  font-size: 4vh;
  font-family: "Helvetica_AA";
}
