.conteiner-video-fundo,
.conteiner-img-fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.conteiner-video-fundo > video {
  display: block;
  position: absolute;
  min-height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.conteiner-img-fundo > img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-aspect-ratio: 1920/1080) {
  .conteiner-video-fundo > video,
  .conteiner-img-fundo > img:not(#diagrama-intro) {
    height: 100vh;
  }
}

@media screen and (min-aspect-ratio: 1920/1080) {
  .conteiner-video-fundo > video,
  .conteiner-img-fundo > img:not(#diagrama-intro) {
    width: 100vw;
  }
}

#controles-tocador {
  position: absolute;
  bottom: 0;
  width: 80vw;
  height: 15vh;
  padding: 5vh 10vw;
  align-items: center;
  justify-content: space-between;
  font-size: 3vw;
}

.invisivel-tocador {
  opacity: 0;
}

.controles-tocador {
  transition: 0.3s;
}

#botao-legenda {
  height: 4vh;
  width: auto;
  fill: var(--branco);
  transition: 0s;
}

#botao-legenda:hover {
  fill: var(--vermelho);
}

#legenda-tocador {
  font-family: "ALS_Gorizont", sans-serif;
  margin: 2vh 3vw;
  width: 60%;
  font-size: 1.6vw;
  line-height: 1.5;
  font-weight: lighter;
  color: var(--branco);
}

#voltar-exibicao {
  width: 20%;
}

#tempo-tocador {
  width: 20%;
  font-size: 0.5em;
}
